.portolio_project_header {

    height: 30rem;
}

.portolio_project_header_text {
    font-family: 'SpaceGroteskMedium', sans-serif;
}

.portolio_project_header_text p {
    font-family: 'GilroyMedium', sans-serif;
    font-size: 1.6rem;
    text-align: start;
    color: var(--secondary-text-color);
}

.portolio_project_header_text h1 {
    font-family: 'SpaceGroteskMedium';
    font-size: 5rem;
}

.portolio_project_header_description p {
    font-size: clamp(1.4rem,5vw,1.6rem);
    font-family: 'GilroyRegular', sans-serif;
    line-height: 1.8em;
}
.portolio_project_header_description_link{

}
.portolio_project_header_description a {
    margin-left: 7rem;
    display: flex;
    font-size: 1.3rem;
    font-family: 'GilroyMedium',sans-serif;
    align-items: center;
    justify-content: center;
}