


.Projects_Image{
    background-image: url(../../assets/urcrypto.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 1px 1px 0.8px rgba(0,0,0,0.05);
}

.Projects_Image_2{
    background-image: url(../../assets/Dashboard.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.06);
}

.Projects_Image_3{
    background-image: url(../../assets/SignUp.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    filter:drop-shadow(0 0 0.75rem rgba(0,0,0,0.4) )
}
.Projects_Image_Text p{
    font-family: 'GilroyRegular';
    font-size: 1.3rem;
    line-height: 1.5em;
}

.Projects_Image_Text h2{
font-size: clamp(1.5rem,5vw,2rem);
font-family: 'SpaceGroteskMedium';
color: var(--secondary-text-color);
}

.Projects_Image_Text_Challenge h2{
    font-size: 2rem;
    font-family: 'SpaceGroteskMedium';
    color: var(--secondary-text-color);
}

.Projects_Image_Text_Challenge p{
    font-size: 1.3rem;
        line-height: 1.5em;
    font-family: 'GilroyRegular';
}
.Project_Body_Navigation p{
font-size: 2rem;
}

.Project_Body_Navigation h1{
    font-size: 4rem;
    font-family: 'SpaceGroteskMedium';
    color: var(--secondary-text-color);
    }

    .portfolio_projects_header{
        width: 100%;
        background-color: aqua;
    }

    .portfolio_project_navigate_btn{
        background-color:transparent;
        border: none;
        margin-bottom: 3rem;
    }