.portfolio_bio_image_container {
    align-self: center;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
    height: 700px;
}
.portfolio_bio_image_container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;

}

.portfolio_bio_writeup {


    align-items: center;
    justify-content: center;
}

.portfolio_bio_writeup h1 {
    font-family: 'GilroyMedium', sans-serif;
    font-size: clamp(2.1rem, 5vw, 3rem)
}

.portfolio_bio_writeup h1 span {
    color: var(--secondary-text-color);
}

.portfolio_bio_writeup p {
    font-family: 'SpaceGroteskLight';
    line-height: 2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.portfolio_bio_image_container img {
    height: 100%;
    object-fit: cover;
    width: 90%;
    position: relative;
    filter: grayscale();
}

/* .portfolio_overlay {
    height: 93%;
    width: 30rem;
    justify-self: flex-end;
    position:absolute;
    background-color: #fff;
    z-index: 2;
} */

@media screen and (max-width: 768px) {

    .portfolio_bio_image_container {
        margin-top: 3rem;
        height: 400px;
    }

    .portfolio_bio_image_container img {
        width: 100%;
    }
}