.portfolio_hero_header_cta {
    color: var(--secondary-text-color);
    font-size: 4rem;
    font-family: 'GilroyMedium', serif;
}

.portfolio_hero_header h1 {
    font-family: 'GilroyMedium', 'sans-serif';
    font-size: 4rem;
}

.portfolio_hero_header{
    background-color: aqua;
    display: flex;
align-items: center;
  
}
.portfolio_hero_header_notification {
   height: 40rem;
    display: flex;
    text-transform: uppercase;
    align-items: flex-end;
background-color: antiquewhite;
    justify-content: flex-end;
}
.portfolio_hero_header_notification  h3{

font-family: 'SpaceGroteskBold';
letter-spacing: 1px;
color: var(--secondary-text-color);
font-size: 1.3rem;
}