.portfolio_projects_contents:nth-child(odd){
flex-direction: row-reverse;
}

.portfolio_projects_content_text_top p {
    font-size: clamp(1.3rem,5vw,1.8rem);
    font-family: 'GilroySemiBold';
    color: var(--secondary-text-color);
    
}

.portfolio_projects_content_text_top h1 {
    font-size: clamp(1.6rem,5vw,2.6rem);
    font-family: 'SpaceGroteskMedium';
    letter-spacing: 1px;
    text-transform: capitalize;

}

.portfolio_projects_content_text_bottom p {
    font-family: 'GilroySemiBold';
    font-size: clamp(.9rem,5vw,1.2rem);
}

.portfolio_projects_content_text_bottom_link {
    background-color: var(--secondary-text-color);
}

.portfolio_projects_content_text_bottom a {
    font-family: 'GilroySemiBold';
    text-decoration: none;
    color: #fff;
    font-size: clamp(1rem,5vw,1.1rem);

}

.portfolio_projects_header {
    font-family: 'SpaceGroteskMedium';


}

.portfolio_projects_header span {
    font-family: 'GilroyBold';
    color: var(--secondary-text-color);

}

.portfolio_projects_content_image img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

@media screen and (max-width:900px) {

    .portfolio_projects_content_image img {
        border-radius: 0;
    }

}